<nav class="side-nav">
  <ul class="nav-elements">
    <li class="nav-lists">
      <a href="#" class="link-a">
        <span class="material-symbols-outlined">apps</span>
      </a>
    </li>
    <li class="nav-lists">
      <a href="#" class="link-a"
        ><span class="material-symbols-outlined">dashboard</span>
      </a>
    </li>
    <li class="nav-lists">
      <a href="#" class="link-a">
        <span class="material-symbols-outlined">real_estate_agent</span>
      </a>
    </li>
    <li class="nav-lists">
      <a href="#" class="link-a">
        <span class="material-symbols-outlined">person</span>
      </a>
    </li>
    <li class="nav-lists">
      <a href="#" class="link-a">
        <span class="material-symbols-outlined">forum</span>
      </a>
    </li>
    <li class="nav-lists">
      <div class="user">
        <a href="#"> A </a>
      </div>
    </li>
  </ul>
</nav>

<header class="header">
  <section class="head">
    <aside class="logo">
      <img src="../../assets/images/logo.jpg" alt="" />
      <div class="logo-content">
        <h3><span class="logo-head">REVO.</span>HOME</h3>
        <p>REAL ESTATE WILL NEVER BE THE SAME</p>
      </div>
    </aside>
    <aside class="user-title">
      <h3>SELLER PORTAL</h3>
    </aside>
  </section>
  <section class="contents">
    <form class="search">
      <span class="material-symbols-outlined">search</span>
      <input type="search" placeholder="Search for" />
    </form>
    <div>
      <span class="sound">
        <img src="../../assets/images/speaker-svgrepo-com@2x.png" alt="" />
        <span class="num"><p>3</p></span>
      </span>
      <span class="notification">
        <img src="../../assets/images/notification-new@2x.png" alt="" />
        <span class="num"><p>2</p></span>
      </span>
      <span class="my-account">
        <img src="../../assets/images/Rectangle 5@2x.png" alt="" />
        <ul class="account-content">
          <li>
            <h4>David Mathew</h4>
          </li>
          <li>
            <h6>ABC Company</h6>
          </li>
        </ul>
        <span class="material-symbols-outlined arrow">arrow_drop_down</span>
      </span>
    </div>
  </section>
</header>

<main class="main-content">
  <header class="main-head">
    <h3>Dashboard</h3>
  </header>
  <section class="main-section">
    <section class="section-1">
      <span class="section-1-head">
        <h4>Calendar</h4>
        <div class="section-1-date">
          <select>
            <option>November,2022</option>
            <option>December,2022</option>
            <option>January,2023</option>
            <option>February,2023</option>
            <option>March,2023</option>
            <option>April,2023</option>
            <option>May,2023</option>
            <option>June,2023</option>
          </select>
          <a href="#">See All</a>
        </div>
      </span>
      <div class="section-1-content">
        <aside class="calendar">
          <ul class="weekdays">
            <li><abbr title="S">SUN</abbr></li>
            <li><abbr title="M">MON</abbr></li>
            <li><abbr title="T">TUE</abbr></li>
            <li><abbr title="W">WED</abbr></li>
            <li><abbr title="T">THU</abbr></li>
            <li><abbr title="F">FRI</abbr></li>
            <li><abbr title="S">SAT</abbr></li>
          </ul>
          <ol class="days">
            <li class="month=prev">31</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li>30</li>
            <li>31</li>
            <li class="month-next">1</li>
            <li class="month-next">2</li>
            <li class="month-next">3</li>
          </ol>
        </aside>

        <aside class="properties">
          <div class="cards">
            <span class="card">
              <div class="card-img">
                <img src="../../assets/images/Mask@2x.png" alt="" />
              </div>
              <div class="card-content">
                <h5>Hill Top View Residentials</h5>
                <h6>2 BHK Apartments,sector-16,USA</h6>
              </div>
              <div class="more">
                <span class="material-symbols-outlined"> chevron_right</span>
              </div>
            </span>
            <span class="card">
              <div class="card-img">
                <img src="../../assets/images/Mask@2x.png" alt="" />
              </div>
              <div class="card-content">
                <h5>Hill Top View Residentials</h5>
                <h6>2 BHK Apartments,sector-16,USA</h6>
              </div>
              <div class="more">
                <span class="material-symbols-outlined"> chevron_right</span>
              </div>
            </span>
            <span class="card">
              <div class="card-img">
                <img src="../../assets/images/Mask@2x.png" alt="" />
              </div>
              <div class="card-content">
                <h5>Hill Top View Residentials</h5>
                <h6>2 BHK Apartments,sector-16,USA</h6>
              </div>
              <div class="more">
                <span class="material-symbols-outlined"> chevron_right</span>
              </div>
            </span>
            <span class="card">
              <div class="card-img">
                <img src="../../assets/images/Mask@2x.png" alt="" />
              </div>
              <div class="card-content">
                <h5>Hill Top View Residentials</h5>
                <h6>2 BHK Apartments,sector-16,USA</h6>
              </div>
              <div class="more">
                <span class="material-symbols-outlined"> chevron_right</span>
              </div>
            </span>
            <span class="card">
              <div class="card-img">
                <img src="../../assets/images/Mask@2x.png" alt="" />
              </div>
              <div class="card-content">
                <h5>Hill Top View Residentials</h5>
                <h6>2 BHK Apartments,sector-16,USA</h6>
              </div>
              <div class="more">
                <span class="material-symbols-outlined"> chevron_right</span>
              </div>
            </span>
            <span class="card">
              <div class="card-img">
                <img src="../../assets/images/Mask@2x.png" alt="" />
              </div>
              <div class="card-content">
                <h5>Hill Top View Residentials</h5>
                <h6>2 BHK Apartments,sector-16,USA</h6>
              </div>
              <div class="more">
                <span class="material-symbols-outlined"> chevron_right</span>
              </div>
            </span>
            <span class="card">
              <div class="card-img">
                <img src="../../assets/images/Mask@2x.png" alt="" />
              </div>
              <div class="card-content">
                <h5>Hill Top View Residentials</h5>
                <h6>2 BHK Apartments,sector-16,USA</h6>
              </div>
              <div class="more">
                <span class="material-symbols-outlined"> chevron_right</span>
              </div>
            </span>
            <span class="card">
              <div class="card-img">
                <img src="../../assets/images/Mask@2x.png" alt="" />
              </div>
              <div class="card-content">
                <h5>Hill Top View Residentials</h5>
                <h6>2 BHK Apartments,sector-16,USA</h6>
              </div>
              <div class="more">
                <span class="material-symbols-outlined"> chevron_right</span>
              </div>
            </span>
          </div>
        </aside>
      </div>
    </section>
    <section class="section-2">
      <div class="section-2-head">
        <h3>Active Enquiry</h3>
        <a href="">See All</a>
      </div>
      <div class="section-2-search">
        <span class="material-symbols-outlined">search</span>
        <input type="search" placeholder="Search" />
      </div>
      <div class="cards">
        <div class="card">
          <img src="../../assets/Rectangle 9005@2x.png" alt="" />
          <div class="card-content">
            <h4>Abella Doe</h4>
            <h6>Hill Top View Residentials</h6>
            <h6 style="color: #6c6f70">2 BHK Apartments,sector-16,USA</h6>
          </div>
          <div class="card-btns">
            <div class="phone-icon">
              <button>
                <span class="material-symbols-outlined">call</span>
              </button>
            </div>
            <div class="mail-icon">
              <button>
                <span class="material-symbols-sharp">mail</span>
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/Rectangle 9005@2x.png" alt="" />
          <div class="card-content">
            <h4>Abella Doe</h4>
            <h6>Hill Top View Residentials</h6>
            <h6 style="color: #6c6f70">2 BHK Apartments,sector-16,USA</h6>
          </div>
          <div class="card-btns">
            <div class="phone-icon">
              <button>
                <span class="material-symbols-outlined">call</span>
              </button>
            </div>
            <div class="mail-icon">
              <button>
                <span class="material-symbols-sharp">mail</span>
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/Rectangle 9005@2x.png" alt="" />
          <div class="card-content">
            <h4>Abella Doe</h4>
            <h6>Hill Top View Residentials</h6>
            <h6 style="color: #6c6f70">2 BHK Apartments,sector-16,USA</h6>
          </div>
          <div class="card-btns">
            <div class="phone-icon">
              <button>
                <span class="material-symbols-outlined">call</span>
              </button>
            </div>
            <div class="mail-icon">
              <button>
                <span class="material-symbols-sharp">mail</span>
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/Rectangle 9005@2x.png" alt="" />
          <div class="card-content">
            <h4>Abella Doe</h4>
            <h6>Hill Top View Residentials</h6>
            <h6 style="color: #6c6f70">2 BHK Apartments,sector-16,USA</h6>
          </div>
          <div class="card-btns">
            <div class="phone-icon">
              <button>
                <span class="material-symbols-outlined">call</span>
              </button>
            </div>
            <div class="mail-icon">
              <button>
                <span class="material-symbols-sharp">mail</span>
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/Rectangle 9005@2x.png" alt="" />
          <div class="card-content">
            <h4>Abella Doe</h4>
            <h6>Hill Top View Residentials</h6>
            <h6 style="color: #6c6f70">2 BHK Apartments,sector-16,USA</h6>
          </div>
          <div class="card-btns">
            <div class="phone-icon">
              <button>
                <span class="material-symbols-outlined">call</span>
              </button>
            </div>
            <div class="mail-icon">
              <button>
                <span class="material-symbols-sharp">mail</span>
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/Rectangle 9005@2x.png" alt="" />
          <div class="card-content">
            <h4>Abella Doe</h4>
            <h6>Hill Top View Residentials</h6>
            <h6 style="color: #6c6f70">2 BHK Apartments,sector-16,USA</h6>
          </div>
          <div class="card-btns">
            <div class="phone-icon">
              <button>
                <span class="material-symbols-outlined">call</span>
              </button>
            </div>
            <div class="mail-icon">
              <button>
                <span class="material-symbols-sharp">mail</span>
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/Rectangle 9005@2x.png" alt="" />
          <div class="card-content">
            <h4>Abella Doe</h4>
            <h6>Hill Top View Residentials</h6>
            <h6 style="color: #6c6f70">2 BHK Apartments,sector-16,USA</h6>
          </div>
          <div class="card-btns">
            <div class="phone-icon">
              <button>
                <span class="material-symbols-outlined">call</span>
              </button>
            </div>
            <div class="mail-icon">
              <button>
                <span class="material-symbols-sharp">mail</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-3"></section>
  </section>
</main>
